body {
  margin: 0;
  padding: 0;
  font-family: Kayak;
  color: white;
  font-size: 1.3em;
}
@font-face {
   font-family: Kayak;
   src: url(http://localhost/leerjaar2/portfolio/AJAX/font/KayakSansRegular.otf);
}
.margin-header {
  margin-top: 1em !important;
}
.button {
  height: 4em;
  font-size: 1.3em;
  margin: 9em 0.5em;
}
.div_button {
  background-color: rgba(52, 152, 219, 0.8);
  text-align: center;
  margin: auto 0;
  padding: 1em;
  border-radius: 1em;
  border: 3px solid white;
}.div_button a {
  color: white;
  font-size: 1.5em;
}
.button_bottom {
  /*For the bottom button on the bottum*/
  margin: 0;
}
.opacityFix {
  /*In the index we have used opacity on a button but the text is als transparent
  So fix this  */
  opacity: 1.0 !important;
}
.background_home {
  background-image: url(/leerjaar2/portfolio/AJAX/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.center-text {
  text-align: center;
}
.footer {
    margin-top: 2em;
    font-size: 0.8em;
}
.arrow-size {
    width: 3em;
}
form input {
  font-size: 1em;
}
input[type=submit] {
  color: white;
  margin-top: 1em;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
}
@media only screen and (min-width: 600px) {
  /* Tablet */
}
